.main {
  display: flex;
  flex-direction: row;
}

.left-section {
  flex: 1;
}

.btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--ads-color-orange-500);
  background-color: white;
  height: 100%;
  width: 300px;
  padding-top: 4rem;
}

select {
  padding: 4px;
  border-width: 1px;
  border-style: solid;
}
